.admin-cartdata table {
    width:100%;
     border: 1px solid;
     
    }
.admin-cartdata td{
text-align: center;

}
.cart_data{
        text-align: right !important;
        font-weight: 900;
    
}