
body{

  font-family: 'Roboto';
}
#navigation{
	background-color: #d5e3ea !important;
}
.header-link{
  display: flex;
  align-content: space-around;
  flex-wrap: wrap;
}
.header-link .menu-header-menu-container ul li a{
	color:black !important;
	text-decoration: none;
	padding: 14px 16px;
}
.header-logo img{
   height: 110px;
}
ul#menu-header-menu {
  display: flex;
  padding: 32px;
  float: left;
  list-style: none;
  justify-content: space-between;
}
.main-content {
  /* width: 100%; */
  float: left;
  padding: 50px;
  display: flex;
}
.footer {
  background-color: #d5e3ea;
  max-height: 100px;
  text-align: center;
  font-size: x-large;
  float: left;
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.product-picture img{
  height: 500px;
  

}

  
  .checkout {
	float: right;
	border: 0;
	margin-top: 20px;
	padding: 6px 25px;
	background-color: #6b6;
	color: #fff;
	font-size: 25px;
	border-radius: 3px;
  }
  
  .checkout:hover {
	background-color: #494;
  }
  
  .product-section .product-table{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    border-radius: 5px;
    padding: 5px;
  }
  
  .product-section .billing-details{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    border-radius: 5px;
    padding: 5px;
  }
  .cart-detail.d-flex.justify-content-around.mb-3 {
    border: ridge;
}


  
  
  
