
body{


    position:relative;
  font-family: 'Roboto';
}
#navigation{
	background-color: #d5e3ea !important;
}

.footer {
  background-color: #d5e3ea;
  max-height: 100px;
  text-align: center;
  font-size: x-large;
  float: left;
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.product-picture img{
  height: 500px;
  }
.checkout {
	float: right;
	border: 0;
	margin-top: 20px;
	padding: 6px 25px;
	background-color: #6b6;
	color: #fff;
	font-size: 25px;
	border-radius: 3px;
  }
  
  .checkout:hover {
	background-color: #494;
  }
  
  .product-section .product-table{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    border-radius: 5px;
    padding: 5px;
  }
  
  .product-section .billing-details{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    border-radius: 5px;
    padding: 5px;
  }
  .cart-detail.d-flex.justify-content-around.mb-3 {
    border: ridge;
}
.carousel-item img{
  width: 100%;
    height: calc(100% - 120px) ;

} 
.card{
 border: none !important;
}
.list-item a{
   text-decoration: none !important;
   color: black !important;


}
.filterShow{    
  font-weight: 500;
    position: absolute;
    height:  87%;
    width: 20% !important;
    padding: 20px;
    background:#d9ebedc7;
    border: 1px solid;
}
.filter-close-wrap {
    text-align: right;
}
#filter{
  width: 12%;
}
.filter-list {
    width: 88% !important
}
.filter-item{
margin-left: 45px;
}
.main-content{
padding: 50px 0px;
}
.filter-btn{
  height: 20%;
}
.header-logo img{
  height: 110px;
}
 ul#menu-logout-user-menu {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  list-style: none;
  font-size: x-large
}
ul#menu-login-user-menu li a {
  text-decoration: none;
  color: black;
  padding: 30px;
}

ul#menu-login-user-menu {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  list-style: none;
  font-size: x-large
}
ul#menu-logout-user-menu li a {
  text-decoration: none;
  color: black;
  padding: 30px;
}

.logged-in .as-e-user-logout {
  display: none;
}
.logged-in .as-e-user-login {
  display: flex;
}

.as-e-user-logout {
  display: flex;
}

.as-e-user-login {
  display: none;
}

