 body{
position:relative;
  font-family: 'Roboto';
}
#navigation{
	background-color: #d5e3ea !important;
  /* height: 10%; */
}
.main{
  min-height: 80%;
}
.footer {
  background-color: #d5e3ea;
  height: 10%;
  text-align: center;
  font-size: x-large;
  float: left;
  padding-top: 20px;
  width: 100%;
 
}
.product-picture img{
  height: 500px;
  }
.checkout {
	float: right;
	border: 0;
	margin-top: 20px;
	padding: 6px 25px;
	background-color: #6b6;
	color: #fff;
	font-size: 25px;
	border-radius: 3px;
  }
  
  .checkout:hover {
	background-color: #494;
  }
  
  .product-section .product-table{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    border-radius: 5px;
    padding: 5px;
  }
  
  .product-section .billing-details{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    border-radius: 5px;
    padding: 5px;
  }
  .cart-detail.d-flex.justify-content-around.mb-3 {
    border: ridge;
}
.carousel-item img{
  width: 100%;
    height: calc(100% - 120px) ;

} 
.card{
 border: none !important;
}
.list-item a{
   text-decoration: none !important;
   color: black !important;
}
.filterShow{    
  font-weight: 500;
    position: absolute;
    height:  87%;
    width: 20% !important;
    padding: 20px;
    background:#d9ebedc7;
    border: 1px solid;
}
.filter-close-wrap {
    text-align: right;
}
#filter{
  width: 12%;
}
.filter-list {
    width: 88% !important
}
.filter-item{
margin-left: 45px;
}

.filter-btn{
  height: 20%;
}
.header-logo img{
  height: 110px;
}


 ul#menu-logout-user-menu {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  list-style: none;
  font-size: x-large
}
ul#menu-login-user-menu li a {
  text-decoration: none;
  color: black;
  padding: 12px 16px;
}

ul#menu-login-user-menu {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  list-style: none;
  font-size: x-large
}
ul#menu-logout-user-menu li a {
  text-decoration: none;
  color: black;
  padding: 12px 16px;
}



.logged-in .as-logout {
  display: none;
}
.logged-in .as-login {
  display: block;
}

.as-logout {
  display: block;
}

.as-login {
  display: none;
}



.LatestProduct{
 padding-top: 20px;
}
.products-items {
  padding-top: 41px;

}
.category-list-wrapper{
  background: black;
  color: white;
  position: absolute;
  rotate: -35deg;
  
}
.as_shop_menu {
  position: relative;
  display: inline-block;
}

.as_shop_menu .sub-menu {
  margin-top: 8px;
  position: absolute;
  min-width: 160px;
  background-color: whitesmoke;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 16px 0px;
  z-index: 1;
  display: none; 
  list-style: none;
  }

 .pagination{
  padding: 50px;
 }

 .as-login-link {
  padding-top: 35px;
}
.as-login-link a {
  color: rgba(var(--bs-link-color-rgb), var(--bs-link-opacity, 1));
  text-decoration: none;
}
.error{
  color:red;
  }
.success{
  color:green;
}